/* Body */
html{
  booverflow-x: scroll;
}
body{
    overflow-x: hidden;
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    margin: 0;
    background-color: #FFFACC;
}

/* Pulsante */
#indietro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #CFBCDF;
    bottom: 30px;
    left: 30px;
    width: 95px;
    height: 95px;
    border-radius: 100px;
}
#indietro:hover{
    background-color: #cfbcdf9d;
}
#indietro:active{
    background-color: #CFBCDF;
}

/* Barra in alto */
.barra{
    height: 280px;
    width: 100%;
    display: block;
}
.barra a {
    margin-right: auto;
}
.barra h1 {
    margin: 0;
    justify-self: center;
}
.barra img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

#info{
    display: flex;
    margin: 10px 0 10px 0;
}
#info *{
    margin-left: 30px;
}
#testo{
    /* background-image: linear-gradient(to bottom right,#FBFFF1 , #AF90A9); */
    background-color: #F7EBE8;
    margin: 0 0 0 30px;
    border-radius: 15px;
    border-style: groove;
    border-color: #8F91A2;
    width: 75%;
}
#testo p{
    height: 210px;
    margin: 5px 5px 5px 5px;
    overflow-y: auto;
}

/* Corpo */
.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.corpo a{
    text-decoration: none;
}

.album{
    background-color: #FBF5F3;
    border-style: groove;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 470px;
    width: 1000px;
    border-radius: 15px;
}
.album img{
    margin-left: 10px;
}
.album h3{
    margin-top: 0px;
    margin-left: 10px;
}

.tracce{
    position: relative;
    left: 420px;
    margin-top: -400px;
}

.v_deluxe{
    display: block;
    position: relative;
    left: 420px;
}

.deluxe{
    margin-top: 0px;
}

.deluxe p{
    margin: 0;
    margin-top: 10px;
}

.deluxe ol{
    margin: 0;
}

/* Singoli */
.barraSin{
    background-color: #B0D7FF;
}
.barraSin h4{
    text-align: center;
}

.singolo{
    background-color: white;
    border-style: groove;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 400px;
    border-radius: 15px;
}
.singolo img{
    width: 250px;
    margin: 10px;
    /* margin-top: 0px; */
}

.singoli{
    height: fit-content;
    display: flex;
    overflow-x: scroll;
}
.singoli h3{
    text-align: center;
}

/* Generico */ 
h1{
    text-align: center;
}

@media(max-width: 640px){
    .barra{
        grid-template-columns: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 100%;
    }
    .album{
        background-color: white;
        border-style: groove;
        margin-top: 10px;
        margin-bottom: 10px;
        height: fit-content;
        width: fit-content;
    }
    .tracce{
        position: relative;
        left: 10px;
        margin-top: 0px;
    }
    .corpo img{
        width: 360px;
        height: 360px;
        margin-right: 10px;
    }
    .v_deluxe{
        display: block;
        left: 10px;
    }
    .singoli{
        display: block;
        overflow: hidden;
    }
    .singolo{
        margin-bottom: 20px;
        height: fit-content;
        width: fit-content;
    }
    .singolo img{
        width: 360px;
    }
    #info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #info *{
        margin-bottom: 20px;
    }
}
